<div class="credential-container">
    <div class="p-4 card">
        <div class="card-body">
            <h1 class="text-center mb-4">Provide Your Access Credential</h1>
            <form>
                <div class="row">
                    <div class="mb-3 col-12">
                        <label for="formGroupUser" class="form-label">User</label>
                        <input type="text" class="form-control" id="formGroupUser">
                    </div>
                    <div class="mb-4 col-12">
                        <label for="formGroupPassword" class="form-label">Password</label>
                        <input type="password" class="form-control" id="formGroupPassword">
                    </div>
                </div>
                <div class="row">
                    <div class="mb-3 col-6 mx-auto">
                        <input (click)="goToTasks()" value="Login" class="btn btn-primary w-100" type="submit">
                    </div>
                </div>                
            </form>
        </div>
        <div class="card-footer">
            <p class="text-center">This is a demo login, all credentials are correct</p>
        </div>
    </div>
</div>